.bmpui-ui-watermark {
    display: none;
}

.bmpui-seekbar-backdrop {
    background-color: #4AC2F4 !important;
}

.bmpui-ui-titlebar {
    display: none;
}

.bmpui-ui-casttogglebutton {
    display: none;
}